:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --navbar-bg: #007d6e;
  --card-bg: #ffffff;
  --card-text: #fff;
  --hover-tex: #99cbc5;
  --label: #02a28f;
}

body.dark-theme {
  background-color: #2c2c2c;
}
body.dark-theme {
  --bg-color: #2c2c2c;
  --text-color: #ffffff;
  --navbar-bg: #3b3b3b;
  --card-bg: #030303;
  --card-text: #fff;
  --hover-tex: #aee5df;
  --label: #02a28f;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.navbar-custom {
  background-color: #007d6e !important;
  margin-bottom: 150px;
  padding-right: 60px;
}

.navbar-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.navbar-brand {
  margin-right: 2rem;
  color: var(--card-bg);
  font-size: 32px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: var(--hover-tex);
  font-weight: 650;
  transition: all 0.5s ease-in-out;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.navbar-toggler {
  cursor: pointer;
}

#items:hover {
  color: var(--hover-tex);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

#item:hover {
  color: var(--hover-tex);
  font-weight: 700;
  transition: all 0.5s ease-in-out;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-icon.collapsed {
  background-image: url("image.png");
}

.navbar-toggler-icon:not(.collapsed) {
  background-image: url("image.png");
}

.bi-list {
  color: var(--bg-color);
}
#inlabel2 {
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--label);
  line-height: 1.2;
}

#inlabel1 {
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.2;
  font-size: medium;
  font-weight: 400;
}
.shadow-bottom {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#hh5 {
  font-size: large;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#bbold {
  font-weight: 800;
  line-height: 1.2;
}
#pd {
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

#getData {
  display: block;
  margin: 10px 0;
  padding: 10px;
  color: var(--bg-color);
  font-weight: 700;
  border: solid 3px;
  border-color: var(--bg-color);
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
}
#postData {
  display: block;
  margin: 10px 0;
  padding: 10px;
  color: var(--bg-color);
  font-weight: 700;
  border: solid 3px;
  border-color: var(--bg-color);
  border-radius: 10px;
  font-size: 16px;
}

#response {
  margin-top: 20px;
  padding: 10px;
}

#items {
  color: var(--card-bg);
  font-size: 16px;
  font-weight: 500;
}

#item {
  color: var(--card-text);
  font-size: 16px;
  font-weight: 500;
}
#lorempara {
  font-size: small;
}
.container-custom {
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-top: 50px;
}

.hero-image {
  position: relative;
  width: 744px;
  height: 396px;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  border-radius: 10px;
  padding-bottom: 0px;
}
.hero-title {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
#herotitle {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 32px;
  font-weight: 500;
  color: black;
  margin: 0;
}

#hero-sub {
  font-size: 16px;
  margin-top: 0;
}
#cardhead {
  background-color: var(--navbar-bg);
  color: var(--card-text);
  height: 48px;
  font-weight: bold;
  padding-left: 159px;
  padding-right: 138px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
}

#pops {
  width: 360px;
  height: 96px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  padding-bottom: 12px;
}

#underherohead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar-bg);
  color: var(--card-text);
  height: 48px;
  font-weight: bold;
  padding: 12px 22px;
  border-radius: 10px;
  margin-top: 0;
}

#underencaps {
  border-radius: 10px;
  width: 744px;
  padding: 0;
}

.card-body-custom {
  padding: 13px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--text-color);
}

.card-body-custom .card-title {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: left;
}

.card-body-custom .card-text {
  font-size: 14px;
  text-align: left;
  color: var(--card-text);
}

#smallimg {
  border-radius: 10px;
}

#post {
  width: 360px;
  height: 396px;
  margin: 24px 0px;
  border-radius: 10px;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-container .post-card {
  margin-bottom: 24px;
}

#post {
  margin-bottom: 0;
  margin-right: 24px;
  display: flex;
  flex-direction: column;
}

#postimg {
  width: 360px;
  height: 191px;
  object-fit: cover;
  border-radius: 10px;
}

.see-more {
  font-weight: 300;
  text-decoration: underline;
}

#fonty {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--card-text);
}
.custom-footer {
  background-color: var(--navbar-bg);
}
pre {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (max-width: 744px) {
  .col-md-4 {
    display: none;
  }

  #herotitle,
  .hero-title {
    display: none;
  }

  .col-md-8 {
    width: 100%;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  #cardhead {
    text-align: center !important;
    width: 100%;
  }
  #dark-mode-toggle {
    position: relative;
    margin-left: 20px;
    z-index: 1050;
  }

  .navbar-toggler {
    display: block;
  }

  .navbar-collapse {
    display: none;
  }

  .navbar-toggler.collapsed + .navbar-collapse {
    display: block;
  }

  .hero-section {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100%;
  }

  .hero-image {
    width: 100%;
    height: auto;
    margin-bottom: 21px;
  }

  .post-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% !important;
  }

  .post-card {
    width: 100%;
    margin-bottom: 20px;
  }

  #post {
    margin-right: 0;
  }

  #postimg {
    width: 100%;
    height: auto;
  }
}

#dark-mode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
